<h1 style="font-family:georgia;" >About Me</h1>
<hr>

<p>I am a third-year student at the Ohio State University, Columbus. I major in Computer Science and Engineering and spend a lot of my free time either playing video games or learning new stuff. If you are here because of my job application and is interested in getting admin rights for the website, hit me up at waychean10@gmail.com</p>

<%= link_to "Home", root_path %>
