<!DOCTYPE html>
<html>
<head>
  <title>About Alpha-Blog</title>
</head>
<body>
  <h1 style="font-family:georgia;" >About Me</h1>
  <hr>

  <p>I currently live in Columbus, Ohio. I am currently a third year student at the Ohio State University majoring in Computer Science and Engineering.<br></p>

  <%= link_to "Home", root_path %>
</body>
</html>