<!DOCTYPE html>
<html>
<head>
  <title>Alpha-Blog Homepage</title>
</head>
<body>
  <div class = "center jumbotron">
    <h1>ALPHA BLOG</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-x-large" %>
  </div>
  <hr>

  <p>Welcome to the homepage for my upcoming project, Alpha-Blog which is part of the Ruby on Rails Developer Course.<br></p>

  <%= link_to "Alpha-Blog", articles_path %> | <%= link_to "About", about_path %>
</body>
</html>