<!DOCTYPE html>
<html>
<head>
  <title>Alpha-Blog Homepage</title>
</head>
<body>
  <h1 style="font-family:georgia;" >Welcome to the Alpha-Blog!</h1>
  <hr>

  <%= image_tag("australian_beach.jpg", :alt => "A panaromic view of an Australian beach") %>

  <p>Welcome to the homepage for my upcoming project, Alpha-Blog which is part of the Ruby on Rails Developer Course.<br></p>

  <%= link_to "Alpha-Blog", articles_path %> | <%= link_to "About", about_path %>
</body>
</html>